@model NewsAgency.App.Models.DisplayModels.Categories.CategoryDeleteViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>

<div class="well">
    <span class="text-warning">Are you sure you want to delete @Model.Name?</span>
    <hr/>
    @Html.ActionLink("Back to all", "All", null, new {@class = "btn btn-primary"})
    @Html.ActionLink("Delete", "Delete", new {ensure = "yes"}, new {@class = "btn btn-primary"})
</div>