@model NewsAgency.App.Models.DisplayModels.Articles.ArticleDeleteViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Article</h2>

<div class="well">
    <span class="text-warning">Are you sure you want to delete @Model.Title by @Model.Author.Username?</span>
    <hr/>
    @Html.ActionLink("Back to all", "All", null, new {@class = "btn btn-primary"})
    @Html.ActionLink("Delete", "Delete", new {ensure = "yes"}, new {@class = "btn btn-primary"})
</div>