@model NewsAgency.App.Models.DisplayModels.Categories.CategoryViewModel

<tr>
    <td>@Model.Name</td>
    <td>@Model.NumberOfArticles</td>
    <td>@Html.ActionLink("Edit", "Edit", null, new { id = Model.Id }, new { type = "button", @class = "btn btn-primary" })</td>
    <td>@Html.ActionLink("Delete", "Delete", null, new { id = Model.Id }, new { type = "button", @class = "btn btn-warning" })</td>
</tr>


