@using NewsAgency.App.Models.Articles
@model NewsAgency.App.Models.Articles.ArticleViewModel


<div>
<span>
    @Html.ActionLink(
        linkText: @Model.Title,
        actionName: "Details",
        routeValues: new { id = Model.Id},
        controllerName:"Article",
        htmlAttributes:null)
</span>
    <h6>
        WrittenBy: @Model.Author.FirstName @Model.Author.LastName
    </h6>
</div>
