@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
  @Html.ActionLink("Logout","Logout","Account")
}
else
{
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
